<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
    <div style="width:100%">
      <div style="text-align:center;">
        <form>

          <div>
            <input class="mat-inputClass" (keyup)="search($event.target.value)" type="text" placeholder="Search"> </div>
          <mat-table [dataSource]="dataSource">
            <ng-container *ngFor="let column of sqColumnDefinition; let i = index" matColumnDef="{{column.name}}">
              <ng-container *ngIf="column.name ===&apos;select&apos;;then checkbox else nocheckbox"></ng-container>
              <ng-template #checkbox>
                <mat-header-cell *matHeaderCellDef>
                  <h3>Select</h3>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-radio-button (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null; rowSelect(row.id)" [checked]="selection.isSelected()"></mat-radio-button>
                  <!-- <input type="radio" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null; rowSelect()" [checked]="selection.isSelected(row)" /> -->
                  <!-- <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null; rowSelect()" [checked]="selection.isSelected(row)">
                </mat-checkbox> -->
                </mat-cell>
              </ng-template>

              //nocheckbox
              <ng-template #nocheckbox>
                <mat-header-cell *matHeaderCellDef [disabled]="column.disableSorting">
                  <!--For displaying the column label & Icon-->
                  <div>
                    <span> {{column.displayName}}</span>
                    <div>
                      <!-- <input class='mat-inputClass' type="text" /> -->
                    </div>
                  </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{element[column.name]}}
                </mat-cell>
              </ng-template>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
          </mat-table>
        </form>
      </div>
      <ng-container *ngIf="sqPaginationConfig &amp;&amp; sqPaginationConfig.enablePagination">
        <!-- <p>{{sample = rowData.length}}</p> -->
        <mat-paginator #paginator [pageSize]="sqPaginationConfig.pageSize" [pageSizeOptions]="sqPaginationConfig.pageSizeOptions" (page)="paginationClicked($event.pageSize)" [showFirstLastButtons]="sqPaginationConfig.showFirstLastButtons">
        </mat-paginator>
        <div #matpageinsert>
          <ul class="pagination" style="display: flex;">
            <li [ngClass]="(currntPageNum == 1) ? &apos;opacityDisable&apos; : &apos;&apos;">
              <a (click)="(currntPageNum === 1) ? pageItem(1,ser.agentFilterCache.pageSize) : pageItem(1,ser.agentFilterCache.pageSize)"><i class="material-icons">first_page</i></a>
            </li>
            <li [ngClass]="(currntPageNum == 1) ? &apos;opacityDisable&apos; : &apos;&apos;" style="margin-right:0px;">
              <a (click)="(currntPageNum === 1) ? pageItem(currntPageNum,ser.agentFilterCache.pageSize) : pageItem(currntPageNum - 1,ser.agentFilterCache.pageSize)"><i class="material-icons">keyboard_arrow_left</i></a>
            </li>


            <li *ngFor="let page of pager" (click)="pageItem(page ,ser.agentFilterCache.pageSize)" [ngClass]="{&apos;active&apos;:currntPageNum === page}"><span>{{page}}</span>
            </li>

            <li style="margin-left:0px;" [ngClass]="((currntPageNum * ser.agentFilterCache.pageSize) &gt;= totalLeads) ? &apos;opacityDisable&apos; : &apos;&apos;">
              <a (click)="(currntPageNum === page_Index) ? pageItem(currntPageNum,ser.agentFilterCache.pageSize) : pageItem(currntPageNum + 1,ser.agentFilterCache.pageSize)"><i class="material-icons">keyboard_arrow_right</i></a>
            </li>
            <li style="margin-left:0px;" [ngClass]="((currntPageNum * ser.agentFilterCache.pageSize) &gt;= totalLeads) ? &apos;opacityDisable&apos; : &apos;&apos;">
              <a (click)="(currntPageNum === page_Index) ? pageItem(currntPageNum,ser.agentFilterCache.pageSize) : pageItem((page_Index),ser.agentFilterCache.pageSize)"><i class="material-icons">last_page</i></a>
            </li>
          </ul>
        </div>
      </ng-container>
      <!-- <!-- Loading !> -->
      <!-- <mat-card *ngIf="isLoading" 
   style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card> -->

    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="isLoading">
      <mat-progress-spinner></mat-progress-spinner>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="false" [fxHide]="true">
      <div>
        <div *ngIf="dataSource?.data?.length">
          <ul class="pagination" style="display: flex;">

            <li [ngClass]="(currntPageNum == 1) ? &apos;opacityDisable&apos; : &apos;&apos;" style="margin-right:38px;">
              <a (click)="(currntPageNum === 1) ? pageItem(currntPageNum,ser.agentFilterCache.pageSize) : pageItem(currntPageNum - 1,ser.agentFilterCache.pageSize)"><i class="material-icons">keyboard_arrow_left</i></a>
            </li>


            <li *ngFor="let page of pager" (click)="pageItem(page ,ser.agentFilterCache.pageSize)" [ngClass]="{&apos;active&apos;:currntPageNum === page}"><span>{{page}}</span>
            </li>

            <li style="margin-left:38px;" [ngClass]="((currntPageNum * ser.agentFilterCache.pageSize) &gt;= totalLeads) ? &apos;opacityDisable&apos; : &apos;&apos;">
              <a (click)="(currntPageNum === page_Index) ? pageItem(currntPageNum,ser.agentFilterCache.pageSize) : pageItem(currntPageNum + 1,ser.agentFilterCache.pageSize)"><i class="material-icons">keyboard_arrow_right</i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>