<div fxLayout="row wrap" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="background:#fff;" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" class="commonHeaderTextColor" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h3 class="commonHeaderTextColor">
        User Group Mapping - List</h3>
    </div>
    <div fxLayout="row wrap" fxFlex="20" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="padding:10px;" class="Dbbutton" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><button mat-button class="UserGroupCreateButton" (click)="onClick($event.target.innerText)" [disabled]="tService.disableCreateButton" type="submit">Create</button><button mat-button class="UserGroupCommonButton" (click)="onClick($event.target.innerText)">Update</button></div>
      </div>
    </div>
    <div fxLayout="row wrap" style="background:#d1d1d1;" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
      <div>
        <mat-divider></mat-divider>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div>
          <bh-tabledemo [rowData]="rowData" [sqColumnDefinition]="columnDefinition" [enableCheckbox]="true" (getSelectedRows)="onNotifySelected($event)" [sqPaginationConfig]="tablePaginationSettings"></bh-tabledemo>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="Dbbutton" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="padding: 10px;" fxFlex="10" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false"><button mat-button class="UserGroupCommonButton">Back</button></div>
    </div>
  </div>
</div>