<div fxLayout="row wrap" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="background:#fff;" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="text-indent: 20px;background:#f3f4f5;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h3>
        User Group Mapping - List</h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="text-indent: 20px;" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <h3>
          User Group - Mapping
        </h3>
      </div>
      <div fxLayout="row wrap" fxFlex="50" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" class="Dbbutton" fxFlex="100" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false"><button mat-button class="UserGroupCreateButton" type="submit">Create</button><button mat-button class="UserGroupCommonButton">Update</button><button mat-button class="UserGroupViewButton">View</button></div>
      </div>
    </div>
    <div fxLayout="row wrap" style="background:#d1d1d1;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div>
        <mat-divider></mat-divider>
      </div>
    </div>
    <form [formGroup]="dbConfigForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column" class="tablerowColor">
            <table mat-table [dataSource]="dataSource" class="table-width-fix">
              <tr mat-header-row *matHeaderRowDef="[&apos;userGroup&apos;,&apos;reportGroup&apos;]"></tr>
              <tr mat-row *matRowDef="let row; columns: [&apos;userGroup&apos;,&apos;reportGroup&apos;];"></tr>

              <ng-container matColumnDef="userGroup">
                <th mat-header-cell *matHeaderCellDef>User Group</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.userGroup}}</td>
              </ng-container>

              <ng-container matColumnDef="reportGroup">
                <th mat-header-cell *matHeaderCellDef>Report Group</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.reportGroup}}</td>
              </ng-container>
            </table>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" class="Dbbutton" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="padding: 10px;" fxFlex="10" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false"><button mat-button class="UserGroupCommonButton">Back</button></div>
      </div>
    </form>
  </div>
</div>