<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="background:#f3f4f5;padding-left:2%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h3>
        <span class="commontextredcolor">System Configuration</span></h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="background-color:#fff;margin:15px" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="background-color:#fff;padding:12px" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" class="Dbbutton mr-5" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false"><button mat-button class="mr-10 orangebtn" (click)="update()">Update</button></div>
        </div>
        <div fxLayout="column wrap" style="margin:5px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div>
            <mat-divider></mat-divider>
          </div>
        </div>
        <form [formGroup]="systemConfigForm">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div>
                  <span class="headerblackclass">Maximum Time Out(In sec)</span></div>
                <div fxLayout="column wrap" style="padding-top:8px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <mat-form-field class="reportGroupNameInbox" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                    <input matInput required formControlName="systemMaxTimeout" appAllowOnlyNumber="appAllowOnlyNumber">
                    <mat-error align="start" *ngIf="systemConfigForm.invalid">Please Enter Maximum Timeout</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                    <div style="margin-right: 28px">
                      <span class="headerblackclass">Maximum Record Output</span></div>
                    <div fxLayout="column wrap" style="padding-top:8px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <mat-form-field class="reportGroupNameInbox" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                        <input matInput required formControlName="systemMaxRecordOutput" appAllowOnlyNumber="appAllowOnlyNumber">
                        <mat-error align="start" *ngIf="systemConfigForm.invalid">Please Enter Maximum record output</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                    <div style="margin-bottom:8px;margin-right: 151px;">
                      <span class="headerblackclass">Status</span></div>
                    <div fxLayout="column wrap" class="rtgpdropdown" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                      <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                        <mat-select formControlName="selectStatus">
                          <ng-template ngFor let-option [ngForOf]="state" let-i="index">
                            <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
                          </ng-template>
                        </mat-select>

                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
              <div fxLayout="row wrap" class="Dbbutton" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false"><button mat-button class="UserGroupCreateButton" (click)="Submit()">Submit</button><button mat-button class="UserGroupCommonButton">Clear</button></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>