<div fxLayout="row wrap" style="height:100%" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="text-indent: 20px;background:#f3f4f5;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div>
        <span class="commontextredcolor">{{title}}</span></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="background-color:#fff;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="padding:10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div>
            <mat-divider></mat-divider>
          </div>
        </div>
        <form [formGroup]="form">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <span class="headerblackclass">Report Name</span></div>
              <div fxLayout="column wrap" style="padding-top:10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div>
                  <form [formGroup]="form">

                    <div *ngIf="loadContent">
                      <ng-multiselect-dropdown #multiSelect [placeholder]="&apos;Select Report&apos;" [data]="data" [formControl]="f.name" [settings]="settings" [disabled]="false" (onFilterChange)="onFilterChange($event)" (onDropDownClose)="onDropDownClose($event)" (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                      </ng-multiselect-dropdown>
                      <span *ngIf="f?.name?.errors?.required" style="color: red;">
      Please select Report Name!!
    </span>


                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
            <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <span class="headerblackclass">Network Location</span></div>
              <div fxLayout="column wrap" style="padding-top:10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-form-field class="reportGroupNameInbox" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput required formControlName="networkLocation">
                  <mat-error align="start" *ngIf="this.form.invalid">Please Enter Network Location!!</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap" style="margin-top:5%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <span class="headerblackclass">Start &amp; End Time</span></div>
              <div fxLayout="column wrap" style="padding-top:10px;height:110px;" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" style="border:1px solid #adadad;border-radius:4px" fxFlex="100" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false">
                  <div>
                    <div class="timepicker">
                      <form class="demo-form">
                        <material-timepicker placeholder="select Start Time" color="primary" [userTime]="exportTime" (change)="onChangestarttime($event)" revertLabel="Remove" submitLabel="Ok" (click)="starttimeclick()"></material-timepicker>
                        <span *ngIf="selectstarttime" style="color: red;">
      Please select StartTime!!
    </span>

                      </form>
                    </div>



                  </div>
                  <div>
                    <div class="timepicker">
                      <!-- <form class="demo-form"> formControlName="EndTime"-->
                      <material-timepicker placeholder="select End Time" color="primary" [userTime]="exportTime" (change)="onChangeendtime($event)" revertLabel="Remove" submitLabel="Ok" (click)="endtime()"></material-timepicker>
                      <span *ngIf="selectEndtime" style="color: red;">
      Please select EndTime!!
    </span>

                      <!-- </form> -->
                    </div>



                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
            <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <span class="headerblackclass">Email Subscriptions</span></div>
              <div fxLayout="row wrap" style="padding-top:10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-radio-group [(ngModel)]="required" formControlName="emailSubscription" name="emailSubscription" [labelPosition]="&apos;after&apos;" required>
                  <mat-radio-button style="padding:10px;" required *ngFor="let email of emails" [value]="email.value" (click)="emailSelected()" [labelPosition]="&apos;after&apos;">{{email .viewValue }}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div>
                <span *ngIf="selectemail" style="color: red;">
      Please select Email Subscrption!!
    </span></div>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <span class="headerblackclass">Downloadable</span></div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-radio-group [(ngModel)]="drequired" formControlName="downloadable" [labelPosition]="&apos;after&apos;" required>
                  <mat-radio-button style="padding:10px;" required *ngFor="let download of downloads" [value]="download.value" (click)="down()" [labelPosition]="&apos;after&apos;">{{download.viewValue }}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div>
                <span *ngIf="seldown" style="color: red;">
      Please select Downloable!!
    </span></div>
            </div>
            <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
            <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <span class="headerblackclass">Status</span></div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-radio-group [(ngModel)]="erequired" formControlName="Selectedstatus" [labelPosition]="&apos;after&apos;" required>
                  <mat-radio-button style="padding:10px;" required *ngFor="let status of statuss" [value]="status.value" (click)="activeStatus()" [labelPosition]="&apos;after&apos;">{{status .viewValue }}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div>
                <span *ngIf="selectstatus" style="color: red;">
      Please select Status!!
    </span></div>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" style="padding:30px;" fxFlex="70" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false"><button mat-button style="background-color:#3cb878;border-radius:5px" class="crudclass" (click)="onSubmit()" type="submit">Submit</button><button mat-button style="background:#f7941d;border-radius:5px" class="crudclass" (click)="onClear()">Clear</button><button mat-button style="background-color:#ed1c24;border-radius:5px" class="crudclass">Cancel</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>