<div fxLayout="row wrap" style="height:100%;background:#f3f4f5;" fxFlex="100" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="padding-left:15%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div>
        <span class="commontextredcolor">ReportConfig- Create</span></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="background-color:#fff;padding:15px" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="padding:10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div>
            <mat-divider></mat-divider>
          </div>
        </div>
        <form [formGroup]="form">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <span class="headerblackclass">Report Name</span></div>
              <div fxLayout="column wrap" style="padding-top:10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div>
                  <form [formGroup]="form">
                    <div *ngIf="loadreportname">
                      <input type="text" formControlName="reportname">

                    </div>

                    <div *ngIf="loadContent">
                      <ng-multiselect-dropdown #multiSelect [placeholder]="&apos;Select Report&apos;" [data]="data" [formControl]="f.name" [settings]="settings" [disabled]="false" (onFilterChange)="onFilterChange($event)" (onDropDownClose)="onDropDownClose($event)" (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                      </ng-multiselect-dropdown>
                      <span *ngIf="f?.name?.errors?.required" style="color: red;">
      Please select Report Name!!
    </span>


                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
            <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <span class="headerblackclass">Network Location</span></div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-form-field class="refortconfigcommonclass" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput required formControlName="networkLocation">
                  <mat-error align="start" *ngIf="this.form.invalid">Please Enter Network Location!!</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <span class="headerblackclass">Start &amp; End Time</span></div>
              <div fxLayout="column wrap" style="height:110px" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" class="refortconfigcommonclass" fxFlex="100" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false">
                  <div>
                    <div class="timepicker">
                      <material-timepicker placeholder="select Start Time" color="primary" [userTime]="exportTime" (change)="onChangestarttime($event)" revertLabel="Remove" submitLabel="Ok"></material-timepicker>
                      <mat-error *ngIf="selectstarttime">Please select StartTime!!</mat-error>
                    </div>



                  </div>
                  <div>
                    <div class="timepicker">
                      <material-timepicker placeholder="select End Time" color="primary" [userTime]="exportTime1" (change)="onChangeendtime($event)" revertLabel="Remove" submitLabel="Ok" ></material-timepicker>
                      <mat-error *ngIf="selectEndtime">Please select EndTime!!</mat-error>
                    </div>



                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
            <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <span class="headerblackclass">Email Subscriptions</span></div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-radio-group formControlName="emailSubscription" name="emailSubscription" [labelPosition]="&apos;after&apos;" required>
                  <mat-radio-button style="padding:10px;" required *ngFor="let email of emails" [value]="email.value" (click)="emailSelected()" [labelPosition]="&apos;after&apos;">{{email .viewValue }}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div>
                <mat-error *ngIf="selectemail">Please Select Email Subscription</mat-error>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <span class="headerblackclass">Downloadable</span></div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-radio-group formControlName="downloadable" [labelPosition]="&apos;after&apos;" required>
                  <mat-radio-button style="padding:10px;" required *ngFor="let download of downloads" [value]="download.value" [labelPosition]="&apos;after&apos;">{{download.viewValue }}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div>
                <mat-error *ngIf="seldown">Please select Downloable!!</mat-error>
              </div>
            </div>
            <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
            <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <span class="headerblackclass">Status</span></div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-radio-group formControlName="Selectedstatus" [labelPosition]="&apos;after&apos;" required>
                  <mat-radio-button style="padding:10px;" required *ngFor="let status of statuss" [value]="status.value" [labelPosition]="&apos;after&apos;">{{status .viewValue }}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div>
                <mat-error *ngIf="selectstatus">Please select Status!!</mat-error>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" style="padding:30px;" fxFlex="70" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false"><button mat-button style="background:#00a651;" (click)="onSubmit()" type="submit">Submit</button><button mat-button style="background:#f7941d;" (click)="onClear()">Clear</button><button mat-button style="background:#ed1c24;">Cancel</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>