<div fxLayout="row wrap" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="commonTablebackground" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="text-indent: 20px;background:#f3f4f5;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h3 [style.color]="&apos;red&apos;">
        DB Configuration</h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="text-indent: 20px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <h3 [ngStyle]="{&apos;color&apos;:&apos;#3583d1&apos;}">
          DB Configuration
        </h3>
      </div>
    </div>
    <div fxLayout="row wrap" style="background:#d1d1d1;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div>
        <mat-divider></mat-divider>
      </div>
    </div>
    <form [formGroup]="dbConfigForm">
      <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <h3>
            JNDI name</h3>
          <mat-form-field [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;">
            <input matInput placeholder="Enter JNDI name" required formControlName="jndiname">
            <mat-error align="start" *ngIf="submitted &amp;&amp; jndiname?.errors">please enter JNDI name</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <h3>
            Active</h3>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-radio-group formControlName="active" [labelPosition]="&apos;after&apos;">
              <mat-radio-button style="padding:10px;" required *ngFor="let season of seasons" [value]="season.value" [labelPosition]="&apos;after&apos;">{{season.viewValue }}</mat-radio-button>
              <div>

                <mat-error [fxShow]="submitted &amp;&amp; RadioButton?.errors">Select Radio Button!!!</mat-error>
              </div>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" class="Dbbutton" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxFlex="70" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false"><button mat-button style="background:#00a651;" (click)="onSubmit(dbConfigForm.value)" type="button">Submit</button><button mat-button style="background:#f7941d;" (click)="clear()">Clear</button><button mat-button style="background:#ed1c24;">Cancel</button></div>
      </div>
    </form>
  </div>
</div>