<div fxLayout="row wrap" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="commonTablebackground" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="background:#f3f4f5;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h3 [style.color]="&apos;red&apos;" style="margin-left: 10px;" class="commonHeaderTextColor">
        DB Configuration</h3>
    </div>
    <div fxLayout="row wrap" style="background:#d1d1d1;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div>
        <mat-divider></mat-divider>
      </div>
    </div>
    <form [formGroup]="dbConfigForm" style="padding:10px;">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row " fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" class="dbconfigtextfieldalign" fxFlex="33" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <h3>
              JNDI name</h3>
            <mat-form-field class="reportGroupNameInbox" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
              <input matInput required formControlName="jndiname">
              <mat-error align="start" *ngIf="submitted &amp;&amp; jndiname.errors">Select Jndi name</mat-error>
            </mat-form-field>
            <div>
              <!-- <mat-error [fxShow]='submitted && dbConfigForm.invalid'>* Select userGroup!!!</mat-error> -->
            </div>
          </div>
          <div fxLayout="column wrap" class="dbconfigtextfieldalign" fxFlex="33" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <h3>
              Driver type</h3>
            <div fxLayout="column wrap" class="rtgpdropdown" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                <mat-select formControlName="drivertype" placeholder="Select" required>
                  <ng-template ngFor let-option [ngForOf]="dbData" let-i="index">
                    <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
                  </ng-template>
                </mat-select>
                <mat-error align="start" *ngIf="submitted &amp;&amp; drivertype.errors">* Select Driver type</mat-error>
              </mat-form-field>
            </div>
            <div>
              <!-- <mat-error [fxShow]='submitted && dbConfigForm.invalid'>* Select Driver type</mat-error> -->
              <!-- <mat-error *ngIf="submitted && jndiname.errors">* Select Driver type</mat-error> -->
            </div>
          </div>
          <div fxLayout="column wrap" class="dbconfigtextfieldalign" fxFlex="33" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <h3>
              Status</h3>
            <div fxLayout="column wrap" class="rtgpdropdown" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                <mat-select formControlName="active" placeholder="Select" required>
                  <ng-template ngFor let-option [ngForOf]="seasons" let-i="index">
                    <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
                  </ng-template>
                </mat-select>
                <mat-error align="start" *ngIf="submitted &amp;&amp; drivertype.errors">* Select Driver type</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-radio-group formControlName="active" *ngIf="false" [labelPosition]="&apos;after&apos;">
                <mat-radio-button style="padding:10px;" required *ngFor="let season of seasons" [value]="season.value" [labelPosition]="&apos;after&apos;">{{season.viewValue }}</mat-radio-button>
                <div>
                  <mat-error [fxShow]="submitted &amp;&amp; RadioButton?.errors">Select Radio Button!!!</mat-error>
                </div>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" style="margin-top: 20px;" class="Dbbutton" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false"><button mat-button style="background:#00a651;" class="UserGroupCommonButton commonbtnalign" (click)="onSubmit(dbConfigForm.value)">Submit</button><button mat-button style="background:#f7941d;" class="UserGroupCommonButton commonbtnalign" (click)="clear(dbConfigForm.value)">Clear</button><button mat-button style="background:#ed1c24;margin: 0px 40px 0px 0px !important;" class="UserGroupCommonButton" routerLink="/dashboard/dbconfiglist">Cancel</button></div>
      </div>
    </form>
  </div>
</div>