<div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="background:#f3f4f5;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="background:#f3f4f5;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h3 [style.color]="&apos;red&apos;" style="margin-left:52px;" class="commonHeaderTextColor">
        DB Configuration - List</h3>
    </div>
    <div fxLayout="column wrap" style="background:#fff;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column " style="background-color:#fff;padding:15px;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
              <div fxLayout="row wrap" class="Dbbutton" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false"><button mat-button class="UserGroupCreateButton commonbtnalign" (click)="onClick($event.target.innerText)" [disabled]="false" type="button">Create</button><button mat-button style="margin: 0px 35px 0px 0px !important;" class="UserGroupCommonButton" (click)="onClick($event.target.innerText)">Update</button></div>
            </div>
          </div>
          <div fxLayout="column wrap" style="padding:10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div>
              <mat-divider></mat-divider>
            </div>
          </div>
          <div fxLayout="column " style="padding:5px" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div>
              <bh-tabledemo [rowData]="rowData" [sqColumnDefinition]="columnDefinition" [enableCheckbox]="true" (getSelectedRows)="onNotifySelected($event)" [sqPaginationConfig]="tablePaginationSettings" [isLoading]="isLoading"></bh-tabledemo>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>