@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
:root {
    --main-bg-color: #0d78e8;
    --main-white-color: #fff;
    --main-hover-color: #5398db;
    --main-button-corel: #f7941d;
    --main-button-create: #3cb878;
    --main-red-color: #ed1c24;
    --main-table-select-bgcolor:#0e78e5;
}
.dropdown-list .item1 .filter-textbox::after{
    font-family: "Material Icons";
    content:"search";
    position: absolute;
    left: 190px;
    top: 10px;
    opacity: 0.5;
    font-weight: 900;
    font-size: 20px;
}
.headerclass{
    color: #1476db;
    font-weight: bold;
}
.headerblackclass{
    color:#000;
    font-weight: bold;
    // margin-left:15px

}
.headerdelete{
    color:red;
    text-align: center;
}

*
{
font-size:15px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.header{
    font-size:14px;
    width:40px;

}
th.mat-header-cell {
    text-align: center!important;
}
.tablerow{
    text-align: center;
}

.mat-sort-header-stem{
    display: none!important;
}
.mat-sort-header-indicator{
        display: none!important;

}
.crudclass{
    color:#fff;
    width:100px;
    border-radius: 25px;
    
    }
// .mat-select-value
// {
//     padding-left: 14px;
// }
 .tableselect{
     font-size: 16px;
 }   

    .mat-header-row
    {
        background-color: #1476db;
    }
    th.mat-header-cell
    {
        color:white;
    }
   
.Loginbackground {
    background: url("/assets/ReportBuilder/Login/BG.png") no-repeat fixed center;
    height: 100%;
}

.login_Form {
    background-color: white;
    padding: 30px 50px 30px;
    border-radius: 15px;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.AllBackGround {
    background-color: gray;
}



.sidenavList:hover {
    background-color: var(--main-hover-color); 
    cursor: pointer;
}

.example-sidenav {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    width: 200px;
}

.userinfo {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background: #fff;
    background: url('assets/images/userlogo.png');
    background-size: 100% 100%;
}

.selected {
    background-color: #5398db;
}

.sidenavList:hover .SidenavIcon {
    color: rgb(12, 9, 135);
}

.sidenavList:hover .label {
    color: rgb(12, 9, 135);
}

.example-container {
    height: 100vh;
}

.headerclass {
    color: #1476db;
}

.headerblackclass {
    color: #000;
}



.header {
    font-size: 14px;
    width: 40px;
}

th.mat-header-cell {
    text-align: center!important;
}

.tablerow {
    text-align: center;
}
.mat-sort-header-stem {
    display: none!important;
}

.mat-sort-header-indicator {
    display: none!important;
}

.crudclass {
    color: #fff;
    width: 100px;
    border-radius: 25px;
}

.tableselect {
    font-size: 16px;
}

.mat-header-row {
    background-color: #1476db;
}

th.mat-header-cell {
    color: white;
}

.mat-table {
    background: #fff;
    width: 100%;
    margin-top: 5px;
}

#searchbox{
    background-color: white;
    padding: 3px;
    color: #000;  
    width:200px; 
   margin: 5px;
}
.reportGroupNameInbox{
    height:40px;
    border-radius:4px;
    border: 1px solid #003975;
    padding:5px 10px;
    // max-height:0px !important
    }
    .generatebutton
    {
    height: 53px;
    border-radius: 4px;
    border: 1px solid #003975;
    padding: 15px 10px;
    cursor:pointer;
    }
    .reportGroupNameInbox .mat-form-field-underline{
        display: none;
    }
    .textareaborder
    {
    height:150px;
    border-radius:4px;
    border: 1px solid #003975;
    padding:5px 10px;
    }
    .textareaborder .mat-form-field-underline
    {
        display: none
    }

.rtgpdropdown .mat-form-field{
     height:40px ;
    border: 1px solid #003975 ;
    border-radius:4px;
    padding:5px 10px 5px 10px;


}
.rtgpdropdown .mat-form-field-underline{
            display: none;

}

// .matlogoutbutton
// {
//     width: 100px !important;

// }
// .matlogoutbutton .mat-form-field-underline{
//             display: none;
// }

.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
     color: initial !important
}

.c-btn{
      height:40px !important;
    border: 1px solid #003975 !important;
    padding:5px 10px;
    border-radius:4px
}

.reportconfig{
     width: 100% !important;
    height: 40px;
     margin: inherit !important;
     border-radius:4px;
    border: 1px solid #003975;
    padding:5px 10px;

}
.dropdown-list{
    // position: relative !important;
}
.mr-10{
      margin-right:10px !important;
  }
  .greenbtn{
      background-color:var( --main-button-create);
  }
  .orangebtn{
      background-color:var( --main-button-corel);
  }
  .redbtn{
     background-color:var( --main-red-color) ;
  }

#searchbox {
    background-color: white;
    padding: 3px;
    color: #000;
    width: 200px;
    margin: 5px;
}



// #mat-form-field-label-3{
//     display:none;
// }
// #mat-form-field-label-5{
//     display:none;
// }

.mat-select-arrow {
    color: #fff;
}

.Dbbutton {
    color: var(--main-white-color);
    
}
.mr-5{
    margin-right:5px;
}

.UserGroupCommonButton {
    background: var(--main-button-corel);
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.UserGroupCreateButton {
    background: var(--main-button-create);
}

.UserGroupViewButton {
    background: var(--main-red-color);
}

//tablerow feColorMatrix
.tablerowColor tr:nth-child(even) {
    background-color: #f3f4f5;
}

.dbconfigreadtable{
    border:1px solid gray;
    border-collapse: collapse;
}
.dbconfigreadtable td, th{
    padding:5px;
    text-align:left;
} 
.commonTablebackground{
    background:var(--main-white-color);
}
.commontextredcolor{
    color:var(--main-red-color);
}
.mat-inputClass {
    width: 99.5% !important;
    height: 40px;
     margin: inherit !important;
    text-indent: 17px !important;
}
// .mat-sidenav-content {
//   margin-left: 0 !important;
// }
.item1{
    overflow: hidden !important;
}



mat-cell, mat-footer-cell, mat-header-cell {
    flex: 1;
    display: grid!important;
    border-left-width:1px;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
}
.mat-inputClass{
  width:98%;
  height:40px;  
  margin: 10px;
  text-indent: 17px;
}
.mat-sort-header-button {
    border: none;
    background: 0 0;
    display: grid !important;
    align-items: center;
    padding: 0;
    cursor: inherit;
    outline: 0;
    font: inherit;
    color: currentColor;
}
.mat-sort-header-container {
    display: grid !important;
    text-align: center;
   
}
.mat-footer-row, mat-header-row, mat-row{
    display: flex;
    border-width: 0;
    border-bottom-width: 1px;
    border-left-width: 1px !important;
    border: 1px solid lightgray;
    align-items: center;
    box-sizing: border-box;
}



// .mat-radio-label {
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     cursor: pointer;
//     display: block !important;
//     align-items: center;
//     white-space: nowrap;
//     vertical-align: middle;
//     width: 100%;
// }
.mat-cell {
        font-size: 14px;
        min-height: 48px;
        text-align: center;
        border-right: 1px solid lightgrey;
        justify-content: center;
    }
    .table{
        text-align: center;
         color:white;
    }
    .mat-slide-toggle-label {
    display: inline-grid !important;
    flex: 1;
    flex-direction: row;
    align-items: center;
    height: inherit;
    /* cursor: pointer; */
}
.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    // width: 50px!important;
}
.rowdatetime{
    border: 1px solid grey;
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    place-content: stretch space-around;
    align-items: stretch;
    flex: 1 1 100%;
    height:100px;
}
.center_align
{
    align-items: center;
    place-content: center;
}

.dropdown-list{
    // position: relative !important;
    width:95% !important;
}



//-------------------------------------------------------------
//---------Vignesh 12-27-1019-----------------------

.file-upload {
    width: 350px;
  }
  
  .file-upload-wrapper {
    $defaultColor: #4daf7c;
    $height: 60px;
    
    position: relative;
    width: 100%;
    height: $height;
    
    &:after {
      content: attr(data-text);
      font-size: 18px;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      padding: 10px 15px;
      display: block;
      width: calc(100% - 40px);
   
      line-height: $height - 20px;
      color: #999;
      border-radius: 5px 10px 10px 5px;
      font-weight: 300;
    }
    
    &:before {
      content: 'Upload';
      position: absolute;
      top: 0;
      right: 0;
    
      background: $defaultColor;
      color: #fff;
      font-weight: 700;
      z-index: 25;
      font-size: 16px;
      line-height: $height - 12px;
      padding: 0 15px;
      text-transform: uppercase;
      pointer-events: none;
      border-radius: 0 5px 5px 0;
    }
    
    &:hover {
      &:before {
        background: darken($defaultColor, 10%);
      }
    }
     input {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 99;
      height: $height - 20px;
      margin: 0;
      padding: 0;
      display: block;
      cursor: pointer;
      width: 100%;
    }
  }
  //06-01-2020//

  .mr-10{
      margin-right:10px !important;
  }
  .greenbtn{
      background-color:var( --main-button-create);
  }
  .orangebtn{
      background-color:var( --main-button-corel);
  }
  .redbtn{
     background-color:var( --main-red-color) ;
  }
  .full-width {
  width: 100%;
}
  



// .designInput {
//     .mat-form-field-flex {
//         border: 1px solid #aaa;
//         padding: 4px 5px;
//         border-radius: 2px;
//         height: 38px;
//         align-items: center;
//     }

//     .mat-form-field-infix {
//         width: 110px !important;
//         padding: 0;
//         margin: 0;
//         border: 0px;
//         position: static;            
//     }

//     .mat-form-field-wrapper {
//         font-size: 14px;
//         padding: 0;
//     }

//     .mat-form-field-appearance-legacy .mat-form-field-underline {
//         height: 1px;
//         display: none;
//     }

//     .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
//         margin: 0;
//     }

//     .mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon {
//         font-size: 20px;
//         line-height: 1;
//         height: initial;
//     }

//     .mat-form-field-prefix, .mat-form-field-suffix{
//         line-height: 1;
//         height: 20px;
//     }

//     .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
//         display: none;
//     }

//     .mat-form-field-label-wrapper {
//         top: 0;
//         padding: 0;
//     }

//     .mat-form-field-appearance-legacy .mat-form-field-label {
//         top: 12px;
//         left: 8px;
//         width: calc(100% - 8px);
//     }
// }

.commonbtnalign {
    margin:0px 10px 0px 0px !important;
}
.dbconfigtextfieldalign{
    margin: 0px 40px 0px 0px;
}

.commonHeaderTextColor{
    color:var(--main-red-color);
    text-indent: 20px;
    background:#f3f4f5;
}
.dropdown-list{
    // position: relative !important;
    width:95% !important;
}
  .selected-list .c-btn{
      width:90% !important;
  }
.commonbtnlastalign{
    margin: 0px 40px 0px 0px !important;
}
.mat-header-cell{
    color:var(--main-white-color)
}
.mat-paginator-navigation-previous, .mat-paginator-navigation-next, .mat-paginator-navigation-first, .mat-paginator-navigation-last{
    display: none !important;
}

//Pagination style
.pagination{
   list-style-type: none;
}
.pagination li{
    // padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #ababab;
}
.pagination {
    margin: 0px;
    padding: 0;
    li {
        // display: inline; old one
        display: flex;
        padding: 12px;
        margin: 0px 5px;
        min-width: 12px;
        height: 12px;
        // background:var(--main-table-select-bgcolor);
        border:1px solid #ababab;
    }
    span{
        align-items: center;
        display: flex;
    }
}

.opacityDisable {
    opacity: 0.3;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}
.pagination .active {
    // background-color: blue !important;
    background:var(--main-table-select-bgcolor) !important;
    color: #fff;
    font-weight: 900;
    // border-radius: 50%;
    min-width: 12px;
    height: 12px;
    text-align: center;
}

.pagination .mat-tab-group {
    font-family: "Source Sans Pro", sans-serif;
}

.pagination a {
    color: #989898;
    display: flex;
    align-items: center;
}
.mat-icon-button{
    border-radius:5px !important;
    border:1px solid #ababab !important;
}

//10-01-2020//

.reportGroupNameInbox{
    height:40px;
    border-radius:4px;
    border: 1px solid #003975;
    padding:5px 10px;
    // max-height:0px !important
    }
    .reportGroupNameInbox .mat-form-field-underline{
        display: none;
    }

.rtgpdropdown .mat-form-field{
     height:40px ;
    border: 1px solid #003975 ;
    border-radius:4px;
    padding:5px 10px 5px 10px;


}
.rtgpdropdown .mat-form-field-underline{
            display: none;

}
.c-btn{
      height:40px !important;
    border: 1px solid #003975 !important;
    padding:5px 10px;
    border-radius:4px
}

.reportconfig{
     width: 100% !important;
    height: 40px;
     margin: inherit !important;
     border-radius:4px;
    border: 1px solid #003975;
    padding:5px 10px;

}
.dropdown-list{
    // position: relative !important;
}
.mr-10{
      margin-right:10px !important;
  }
  .greenbtn{
      background-color:var( --main-button-create);
  }
  .orangebtn{
      background-color:var( --main-button-corel);
  }
  .redbtn{
     background-color:var( --main-red-color) ;
  }
  .cdk-overlay-pane
  {
      transform: translateX(-13px) translateY(21px) !important;
  }

    #cdk-overlay-2
    {
    transform: translateX(-16px) translateY(-14px) !important;
    }  