/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
:root {
    --main-bg-color: #0d78e8;
    --main-white-color: #fff;
    --main-hover-color: #5398db;
    --main-button-corel: #f7941d;
    --main-button-create: #3cb878;
    --main-red-color: #ed1c24;
}
.dropdown-list .item1 .filter-textbox::after{
    font-family: "Material Icons";
    content:"search";
    position: absolute;
    left: 190px;
    top: 10px;
    opacity: 0.5;
    font-weight: 900;
    font-size: 20px;
}
.headerclass{
    color: #1476db;
    font-weight: bold;
}
.headerblackclass{
    color:#000;
    font-weight: bold;

}
.headerdelete{
    color:red;
    text-align: center;
}

*
{
font-size:15px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.header{
    font-size:14px;
    width:40px;

}
th.mat-header-cell {
    text-align: center!important;
}
.tablerow{
    text-align: center;
}


.crudclass{
    color:#fff;
    width:100px;
    border-radius: 25px;
    
    }
.mat-select-value
{
    padding-left: 14px;
}
 .tableselect{
     font-size: 16px;
 }   

    .mat-header-row
    {
        background-color: #1476db;
    }
    th.mat-header-cell
    {
        color:white;
    }
   
.Loginbackground {
    background: url("/assets/ReportBuilder/Login/BG.png") no-repeat fixed center;
    height: 100%;
}

.login_Form {
    background-color: white;
    padding: 30px 50px 30px;
    border-radius: 15px;
}

* {
    // font-size: 19px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.AllBackGround {
    background-color: gray;
}

//Given By R /////////////////////////////////////////////////////////////


.sidenavList:hover {
    background-color: var(--main-hover-color); 
    cursor: pointer;
}

.example-sidenav {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    width: 200px;
}

.userinfo {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background: #fff;
    background: url('assets/images/userlogo.png');
    background-size: 100% 100%;
}

.selected {
    background-color: #5398db;
}

.sidenavList:hover .SidenavIcon {
    color: rgb(12, 9, 135);
}

.sidenavList:hover .label {
    color: rgb(12, 9, 135);
}

.example-container {
    height: 100vh;
    //   border: 1px solid rgba(0, 0, 0, 0.5);
}

//table Style
.headerclass {
    color: #1476db;
}

.headerblackclass {
    color: #000;
}



.header {
    font-size: 14px;
    width: 40px;
}

th.mat-header-cell {
    text-align: center!important;
}

.tablerow {
    text-align: center;
}





.Dbbutton {
    color: var(--main-white-color);
}

.UserGroupCommonButton {
    background: var(--main-button-corel);
}

.UserGroupCreateButton {
    background: var(--main-button-create);
}

.UserGroupViewButton {
    background: var(--main-red-color);
}

//tablerow feColorMatrix
.tablerowColor tr:nth-child(even) {
    background-color: #f3f4f5;
}

.dbconfigreadtable{
    border:1px solid gray;
    border-collapse: collapse;
}
.dbconfigreadtable td, th{
    padding:5px;
    text-align:left;
} 
.commonTablebackground{
    background:var(--main-white-color);
}
.commontextredcolor{
    color:var(--main-red-color);
}

.mat-inputClass::after{
background-image: url('http://www.kirupa.com/images/search.png');

}
.mat-sidenav-content {
  margin-left: 0 !important;
}
.item1{
    overflow: hidden !important;
}
.dropdown-list{
    position: relative !important;
}
.table{
    color:white;
}


/* 03-12-2019 css style Given by R*/

mat-cell, mat-footer-cell, mat-header-cell {
    flex: 1;
    display: grid!important;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
}
.mat-inputClass{
  width:98%;
  height:40px;  
  margin: 10px;
  text-indent: 17px;
}
.mat-sort-header-button {
    border: none;
    background: 0 0;
    display: grid !important;
    align-items: center;
    padding: 0;
    cursor: inherit;
    outline: 0;
    font: inherit;
    color: currentColor;
}
.mat-sort-header-container {
    display: grid !important;
    text-align: center;
   
}


.mat-radio-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: block !important;
    align-items: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 100%;
}
.mat-cell {
        font-size: 14px;
        min-height: 48px;
        text-align: center;
        border-right: 1px solid lightgrey;
    }
    .table{
        text-align: center;
    }
    .mat-slide-toggle-label {
    display: inline-grid !important;
    flex: 1;
    flex-direction: row;
    align-items: center;
    height: inherit;
    /* cursor: pointer; */
}
.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    // width: 50px!important;
}
.rowdatetime{
    border: 1px solid grey;
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    place-content: stretch space-around;
    align-items: stretch;
    flex: 1 1 100%;
    height:100px;
}

/* 05-12-2019 Given by R*/
.refortconfigcommonclass{
    display: inline-block;  
    border: 1px solid #adadad;  height:40px;   width: 100%;     padding: 6px 12px;     margin-bottom: 0;     font-weight: 400;     line-height: 1.52857143;     text-align: left;     vertical-align: middle;     cursor: pointer;     background-image: none;     border-radius: 4px; 
}
.refortconfigcommonclass.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #fafafa;
    visibility: hidden;
}
//  .mat-form-field-appearance-legacy .mat-form-field-underline {
//       background-color: #fafafa;
//       visibility: hidden;
//       height:0%;
// }
.custom-select-underline{
     display: inline-block;  
    border: 1px solid #adadad;     width: 100%;     padding: 6px 12px;     margin-bottom: 0;     font-weight: 400;     line-height: 1.52857143;     text-align: left;     vertical-align: middle;     cursor: pointer;     background-image: none;     border-radius: 4px; 
}
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
    display: none !important;
}
