<div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="background:#f3f4f5;padding-left:4%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h3>
        <span class="commontextredcolor">Report Configuration - List</span></h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column " style="background-color:#fff;margin:15px" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" style="text-indent: 20px;" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
          <div fxLayout="row wrap" fxFlex="50" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" class="Dbbutton" fxFlex="100" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false"><button mat-button class="UserGroupCreateButton" (click)="Create()" type="button">Create</button><button mat-button class="UserGroupCommonButton" (click)="Update()">Update</button></div>
          </div>
        </div>
        <div fxLayout="column wrap" style="padding:10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div>
            <mat-divider></mat-divider>
          </div>
        </div>
        <div fxLayout="column " style="padding:5px" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div>
            <bh-tabledemo [rowData]="reportConfigService.reportconfiglist" [sqColumnDefinition]="columnDefinition" [enableCheckbox]="true" (getSelectedRows)="selectTablerowData($event)" [sqPaginationConfig]="tablePaginationSettings"></bh-tabledemo>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>