<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="text-indent: 20px;background:#f3f4f5;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h3>
        <span class="commontextredcolor">Generate Report</span></h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="background-color:#fff;padding:15px" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="padding:10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div>
            <mat-divider></mat-divider>
          </div>
        </div>
        <form [formGroup]="generatereportform" (ngSubmit)="reportformsubmit()">
          <div fxLayout="row wrap" style="padding:10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="padding:15px" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <span class="headerblackclass">Report Type *</span></div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div>
                  <angular2-multiselect *ngIf="true" [data]="selectvalue" [settings]="dropdownsetting" [loading]="loading" formControlName="rname" (onDeSelectAll)="onDeSelectAll($event)">
                  </angular2-multiselect>
                  <mat-error align="start" *ngIf="generatereportform.controls.rname.invalid &amp;&amp; generatereportform.controls.rname.touched">Please Select Report name</mat-error>
                </div>
              </div>
            </div>
            <div fxLayout="column wrap" style="margin-top:15px" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div>
                <span class="headerblackclass">Upload File *</span></div>
              <div>
                <mat-form-field class="reportGroupNameInbox">
                  <input matInput [value]="filename" disabled>
                </mat-form-field>
                <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;">
                <button class="generatebutton" type="button" (click)="fileInput.click()">
                  <mat-icon>attachment</mat-icon>
                </button>
                <mat-error style="padding-left:10px" align="start" *ngIf="invalid_csv">Upload Only CSV/EXCEL File</mat-error>
              </div>
            </div>
            <div fxLayout="column wrap" style="margin-top:30px" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="row wrap" class="Dbbutton" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><button mat-button class="mr-10 greenbtn" [disabled]="generatereportform.invalid" type="submit">Submit</button><button mat-button class="mr-10 orangebtn" (click)="generateformreset()" type="button">Clear</button></div>
            </div>
          </div>
          <div fxLayout="column wrap" style="padding:5px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div *ngIf="tablevisible">
              <bh-tabledemo [rowData]="testContent" [sqColumnDefinition]="columnDefinition" (getSelectedRows)="onNotifySelected($event)" [sqPaginationConfig]="tablePaginationSettings"></bh-tabledemo>
            </div>
            <div fxLayout="column wrap" style="padding-left:15px" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
              <div fxLayout="row wrap" class="Dbbutton" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-button class="mr-10 greenbtn" *ngIf="downloadable" (click)="generatereport()" type="button">Generate</button><button mat-button class="mr-10 orangebtn" *ngIf="subscribable">Subscribe</button></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>