<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="padding:10px" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div>
      <h4 class="headerdelete"> Are you sure to delete {{groupname}}?</h4>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-button style="background-color:#3cb878;color:#fff;border-radius:10px" (click)="onDeleteClick()">Yes</button></div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-button style="background-color:red;color:#fff;border-radius:10px" (click)="   this.dialog.closeAll();">No</button></div>
    </div>
  </div>
</div>