<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="padding-left:15%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div>
        <h4> User Group - Update</h4>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="background-color:#fff;padding:15px" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="background-color:#fff;padding:12px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div>
              <span class="headerclass">User Group Update</span></div>
          </div>
        </div>
        <div fxLayout="column wrap" style="padding:12px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div>
            <mat-divider></mat-divider>
          </div>
        </div>
        <form [formGroup]="reportCreateForm">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" style="padding:12px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div>
                  <span class="headerblackclass">User Group Name</span></div>
                <div fxLayout="column wrap" style="padding-top:8px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <mat-form-field class="reportGroupNameInbox" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;">
                    <input matInput required formControlName="userGroupName">
                    <mat-error align="start" *ngIf="reportCreateForm.invalid">Please Enter reportname!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                    <div>
                      <span class="headerblackclass">User Group Code</span></div>
                    <div fxLayout="column wrap" style="padding-top:8px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <mat-form-field class="reportGroupNameInbox" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;">
                        <input matInput required formControlName="userGroupCode" appAllowOnlyNumber>
                        <mat-error align="start" *ngIf="reportCreateForm.invalid">Please Enter reportCode!</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                    <div style="margin-bottom:8px;">
                      <span class="headerblackclass">Status</span></div>
                    <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                      <mat-form-field [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;">
                        <mat-select formControlName="selectStatus">
                          <ng-template ngFor let-option [ngForOf]="state" let-i="index">
                            <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
                          </ng-template>
                        </mat-select>

                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-around end" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
              <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" style="background-color:#3cb878;border-radius:5px" class="crudclass" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-button (click)="onSubmit()">Submit</button></div>
                  <div fxLayout="column wrap" style="background-color:#ed1c24;border-radius:5px" class="crudclass" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-button (click)="onCancel()">Cancel</button></div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>