<div fxLayout="row wrap" style="background:#f3f4f5;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" class="commonTablebackground" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="background:#f3f4f5;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h3 style="margin-left: 25px;" class="commonHeaderTextColor">
        Group Mapping</h3>
    </div>
    <div fxLayout="column wrap" style="background:#fff; padding:15px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <form [formGroup]="form">
        <div fxLayout="row wrap" style="padding: 10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <h3>
              User Group</h3>
            <div>
              <angular2-multiselect id="userGroupdatalist" [data]="userGroupdatalist" [settings]="dropdownSettingsUG" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)" formControlName="userGroup" [(ngModel)]="selectedItems" [loading]="loading" (onScrollToEnd)="fetchMore($event)"></angular2-multiselect>

              <!-- <mat-error *ngIf="isSubmitted && getuserGroup.errors">* Select userGroup!!!</mat-error> -->

              <mat-error [fxShow]="isSubmitted &amp;&amp; form.invalid">* Select userGroup!!!</mat-error>
            </div>
          </div>
          <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <h3>
              Report Group</h3>
            <div>
              <angular2-multiselect id="reportGroupdatalist" name="reportGroupdatalist" [data]="reportGroupdatalist" [settings]="dropdownSettingsRG" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" [(ngModel)]="rgselectedItems" [loading]="loading" formControlName="reportGroup">
              </angular2-multiselect>

              <mat-error [fxShow]="isSubmitted &amp;&amp; getReportGroup?.errors">* Select reportGroup!!!</mat-error>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div>
            <mat-card *ngIf="dataLoading" style="display: flex; justify-content: center; align-items: center">
              <mat-progress-spinner color="primary" mode="indeterminate">
              </mat-progress-spinner>
            </mat-card>
          </div>
        </div>
        <div fxLayout="row wrap" style="margin-top:10px;" class="Dbbutton" fxLayoutAlign="end start" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false"><button mat-button style="background:#00a651;" class="commonbtnalign" (click)="save(form.value)" type="button">Submit</button><button mat-button style="background:#f7941d;" class="commonbtnalign" (click)="clear()">Clear</button><button mat-button style="background:#ed1c24;" class="commonbtnlastalign" routerLink="/dashboard/groupmaplist">Cancel</button></div>
        </div>
      </form>
    </div>
  </div>
</div>