<div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" class="commonTablebackground" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="text-indent: 20px;background:#f3f4f5;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h3>
        User Group Mapping</h3>
    </div>
    <form [formGroup]="form" (ngSubmit)="save(form.value)">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <h3>
            User Group</h3>
          <div>
            <ng-multiselect-dropdown [placeholder]="&apos;Select User Group&apos;" [data]="bank" formControlName="singleselect" [settings]="singlesettings" [disabled]="false" (onFilterChange)="onFilterChange($event)" (onDropDownClose)="onDropDownClose($event)" (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <h3>
            Report Group</h3>
          <div>
            <ng-multiselect-dropdown id="1" [placeholder]="&apos;Select Report Group&apos;" [data]="data" formControlName="multiselect" [settings]="settings" [disabled]="false" (onFilterChange)="onFilterChange($event)" (onDropDownClose)="onDropDownClose($event)" (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" style="height:10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
      <div fxLayout="row wrap" class="Dbbutton" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxFlex="70" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false"><button mat-button style="background:#00a651;" type="submit">Submit</button><button mat-button style="background:#f7941d;">Clear</button><button mat-button style="background:#ed1c24;">Cancel</button></div>
      </div>
      <div fxLayout="row wrap" style="height:10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    </form>
  </div>
</div>