<div fxLayout="row wrap" style="height:100%;background:#f3f4f5;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="padding-left:2%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h3>
        <span class="commontextredcolor"> {{title}}</span></h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="background-color:#fff;padding:15px;margin:15px" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <form [formGroup]="reportCreateForm">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div>
                  <span class="headerblackclass">Report Group Name</span></div>
                <div fxLayout="column wrap" style="padding-top:8px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <mat-form-field class="reportGroupNameInbox" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                    <input matInput required formControlName="reportGroupName">
                    <mat-error align="start" *ngIf="reportCreateForm.invalid">Please Enter reportname!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                    <div style="margin-right: 60px;">
                      <span class="headerblackclass">Report Group Code</span></div>
                    <div fxLayout="column wrap" style="padding-top:8px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <mat-form-field class="reportGroupNameInbox" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                        <input matInput required formControlName="reportGroupCode" appAllowOnlyNumber="appAllowOnlyNumber">
                        <mat-error align="start" *ngIf="reportCreateForm.value.reportGroupCode == &apos;&apos;">Please enter reportgroupcode!!</mat-error>
                        <mat-error align="start" *ngIf="reportCreateForm.value.reportGroupCode.length &gt;10">Please Enter max 10 code</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                    <div style="margin-bottom:8px;margin-right: 151px;">
                      <span class="headerblackclass">Status</span></div>
                    <div fxLayout="column wrap" class="rtgpdropdown" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                      <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                        <mat-select formControlName="selectStatus">
                          <ng-template ngFor let-option [ngForOf]="state" let-i="index">
                            <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
                          </ng-template>
                        </mat-select>

                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="false" [fxHide]="true"></div>
              <div fxLayout="row wrap" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" class="Dbbutton" fxFlex="100" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false"><button mat-button class="UserGroupCreateButton commonbtnalign" (click)="onSubmit()" type="submit">Submit</button><button mat-button class="UserGroupCommonButton commonbtnlastalign" routerLink="/dashboard/reportgrouplist">Cancel</button></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>